<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Sentimentos</title>
</head>
<body>
    <h1>Análise de Sentimentos</h1>
    <form id="sentimentoForm">
        <label for="frase">Digite uma frase:</label>
        <input type="text" id="frase" name="frase" required>
        <button type="submit">Enviar</button>
    </form>
    <p id="resultado"></p>
    <br><br>

    <a href="/">Ir para Analisar Comentários</a>

    <script src="static/script_comm.js"></script>
</body>
</html>
